<script lang="ts">
export default {
  props: {
    image: {
      type: String,
      required: true,
    },
    author: {
      type: String,
      required: true,
    },
  },
};
</script>

<template>
  <span class="gallery-item">
    <img :src="image" alt="" />
    <p>{{ author }}</p>
  </span>
</template>

<style scoped>
.gallery-item {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: none;
}

.gallery-item img {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .gallery-item {
    width: calc(25% - 1rem);
  }
}
</style>
