<script setup lang="ts">
import type { PicsumAPIResponse } from "./main";
import { ref } from "vue";
import { default as GalleryItem } from "./components/GalleryItem.vue";

const data = ref<PicsumAPIResponse>();
const error = ref();

fetch("https://picsum.photos/v2/list?limit=12")
  .then((res) => res.json())
  .then((json) => (data.value = json))
  .catch((err) => (error.value = err));
</script>

<template>
  <header>
    <h1>Picsum</h1>
    <p>A simple image gallery</p>

    <div v-if="error">Oops! Error encountered: {{ error.message }}</div>
    <div v-else-if="data">
      <div class="gallery">
        <GalleryItem
          v-for="image in data"
          :key="image"
          class="gallery-item"
          :image="image.download_url"
          :author="image.author"
        />
      </div>
    </div>
    <div v-else>Loading...</div>
  </header>
</template>

<style>
@import "./assets/base.css";

/* Mobile Layout - Stacked Images */

@media screen and (max-width: 640px) {
  .gallery-item {
    display: flex;
    justify-content: center;
  }
}

/* Normal (Desktop) Layout - 3x4 Grid (All GalleryItems are the same height)*/

@media screen and (min-width: 641px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 0.5fr;
    justify-items: center;
  }
}

/* Alternative Desktop View (bigger images) */
/* @media screen and (min-width: 641px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
} */

.gallery-item {
  margin: 1rem;
  padding: 1rem;
}
</style>
